.background {
  viewport-fill: black;
}

#clockLabel {
  font-size: 50;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 85%+40;
  fill: white;
}

.graphTitle {
  fill: cyan;
  font-size:16;
}

.xLabel {
  fill: cyan;
  font-size:16;
}

.yLabel {
  fill: cyan;
  font-size:16;
  
}

.line {
  fill: green;
  stroke-width: 2;
}

.graphLabel {
  fill:cyan;
  font-size:20;
}

.graphLine {
  fill:gray;
  stroke-width: 1;
}



#sensitivity
{
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#heartrateLabel{
  font-size: 25;
  text-anchor: middle;
  x: 45%;
  y: 25%;
  fill: white;
}

#hrvDisplay 
{
  font-size: 65;
  font-family: System-Regular;
  text-length: 11;
  x: 50%;
  y: 95%;
  fill: green;
}

#hrvLabel 
{
  font-size: 65;
  font-family: System-Regular;
  text-length: 11;
  text-anchor: middle;
  x: 5%;
  y: 75%;
  fill: darkred;
}

#alertWindowHeadingBox
{
  fill: silver;
  width: 100%;
  height: 30;
  y: 20%;
}

#alertWindowHeaderText
{
  font-family: System-Bold;
  fill: black;
  font-size: 20;
  font-weight: bold;
  width: 50%;
  x: 35%;
  y: 20%;
}

#alertWindowBox
{
  fill: white;
  width: 100%;
  height: 40%;
  y: 20%;
}

#alertWindowText
{
  font-family: System-Regular;
  fill: black;
  font-size: 20;
  font-weight: light;
  text-anchor: start;
  text-overflow: ellipsis;
  text-length: 80;
  width: 80%;
  x: 5%;
  y: 30%;
}

#battery 
{
  x: 10%;
  y: 5%;
}

#batteryBody 
{
  y: 4;
  x: 3;
  height: 16;
  width: 22;
  fill: white;
}

#batteryHead 
{
  y: 8;
  x: 25;
  height: 8;
  width: 2;
  fill: white;
}

#batteryFillBackground
{
  y: 6;
  height: 12;
  x: 5;
  width: 18;
  fill: black;
}

#batteryFill 
{
  y: 6;
  height: 12;
  x: 5;
  width: 19;
  fill: white;
}

#batteryValue 
{
  font-size: 15;
  fill: white;
  text-length: 4;
  x: 35;
  y: 20;
} 
